@model Cts.Project.Cts.Models.LeadershipProfile
<div>
    @Model.LeaderName<a href="@Model.DetailPageUrl">View Profile</a>
</div>
<div>
    @Model.Designation
</div>
<div>
    @Model.Brief
</div>
<div>
    @Model.LeaderImage
</div>
