<div>
    @Html.Sitecore().Field("Title")
</div>
<div>
    @Html.Sitecore().Field("Title")
</div>
<div>
    @Html.Sitecore().Field("Title")
</div>
<div>
    @Html.Sitecore().Field("Title")
</div>
<div>
    @Html.Sitecore().Field("Title")
</div>
